.subscribe__container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px 250px;
    align-items: center;
    box-shadow: 0px 30px 30px 2px rgb(213, 213, 213);
}

.subscribe__container button{
    margin-top: 40px;
    width: 250px;
    height: 60px;
    background-color: #F53838;
    color: var(--color-white);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 30px 30px 2px #ffc4c4;
}

.subscribe__container__text{
    width: 630px;
}

.subscribe__container__text h2{
    font-size: 50px;
    font-family: var(--font-base);
    margin-bottom: 10px;
    line-height: 70px;
    margin-right: 130px;
}

.subscribe__container__text p{
    font-size: 25px;
    color: var(--color-gray);
    font-family: var(--font-base);
    line-height: 40px;
}


@media screen and (max-width: 1150px) {
    .subscribe__container{
        flex-direction: column;
        width: 97%;
        margin: 0;
        text-align: center;
    }

    .subscribe__container__text h2 {
        margin: 0;
    }

    .subscribe__container__text{
        width: 400px;
    }
}
 
@media screen and (max-width: 650px) {
    .subscribe__container__text p{
        margin: 20px;
    }
}
